<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sepsis Prediction</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Sepsis Prediction</h1>
    <form method="post" action="/predict_sepsis/">
        <label for="PRG">Plasma Glucose (PRG):</label>
        <input type="number" id="PRG" name="PRG" step="0.01" required><br><br>
        
        <label for="PL">Blood Work Result-1 (PL):</label>
        <input type="number" id="PL" name="PL" step="0.01" required><br><br>

        <label for="PR">Blood Pressure (PR):</label>
        <input type="number" id="PR" name="PR" step="0.01" required><br><br>

        <label for="SK">Blood Work Result-2 (SK):</label>
        <input type="number" id="SK" name="SK" step="0.01" required><br><br>

        <label for="TS">Blood Work Result-3 (TS):</label>
        <input type="number" id="TS" name="TS" step="0.01" required><br><br>

        <label for="M11">Body Mass Index (M11):</label>
        <input type="number" id="M11" name="M11" step="0.01" required><br><br>

        <label for="BD2">Blood Work Result-4 (BD2):</label>
        <input type="number" id="BD2" name="BD2" step="0.01" required><br><br>

        <label for="Age">Age:</label>
        <input type="number" id="Age" name="Age" required><br><br>

        <button type="submit">Predict Sepsis</button>
    </form>

    {% if sepsis_prediction %}
    <h2>Prediction Result:</h2>
    <p>{{ sepsis_prediction }}</p>
    {% endif %}
</body>
</html>
